@import "../base/variables";

.footer {
  @include flex (flex, column, center);
  row-gap: 1rem;
  margin: 10rem auto 2rem;
  .footer-text {
    p {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1rem;
      color: $color-principal;
    }
  }
}
@media only screen and (max-width: 900px) {
  .footer {
    margin: 10rem auto 2rem;
    .footer-text{
      font-size: 0.875rem;
    }
  }
}